<?xml version="1.0" encoding="utf-8"?>
<log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--SAMPLE LOG4NET CONFIG FILE-->
  <!-- http://logging.apache.org/log4net/release/sdk/index.html -->
  <!-- https://logging.apache.org/log4net/log4net-1.2.13/release/sdk/log4net.Layout.PatternLayout.html -->
  <!-- http://logging.apache.org/log4net/release/config-examples.html -->
  <!-- http://logging.apache.org/log4net/release/manual/configuration.html -->
  <!-- Available levels (in order): Off. Fatal. Error. Warn. Info. Debug. All. -->
  <!--
			Log level priority in descending order:
			FATAL = 1 show  log -> FATAL 
			ERROR = 2 show  log -> FATAL ERROR 
			WARN =  3 show  log -> FATAL ERROR WARN 
			INFO =  4 show  log -> FATAL ERROR WARN INFO 
			DEBUG = 5 show  log -> FATAL ERROR WARN INFO DEBUG
	 -->

  <appender name="TraceAppender"
			  type="log4net.Appender.TraceAppender">
    <threshold value="ALL" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level|%date|%logger{1}|%message%newline" />
    </layout>
  </appender>

  <appender name="RollingFile"
			  type="log4net.Appender.RollingFileAppender">
    <!-- https://logging.apache.org/log4net/release/sdk/html/T_log4net_Appender_RollingFileAppender.htm -->
    <threshold value="DEBUG" />
    <file value="C:\logs\CTS\Juno.log" />
    <!-- appendToFile=false causes log file to roll over upon each start of the application -->
    <appendToFile value="false" />
    <datePattern value="_yyyMMdd" />
    <maxSizeRollBackups value="-1"/>
    <countDirection value="1"/>
    <maximumFileSize value="5MB" />
    <rollingStyle value="Composite" />
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %-5level %-36logger{1} %message%newline" />
    </layout>
  </appender>

  <root>
    <!--ALL,DEBUG,INFO,WARN,ERROR,FATAL,OFF-->
    <!-- see threshold in each appender to set levels -->
    <appender-ref ref="TraceAppender" />
    <appender-ref ref="RollingFile"/>
  </root>
</log4net>